@page "/Combos/Index"
@inject CombosService comboService
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject ToastService Toast


<PageTitle>Index</PageTitle>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h5 class="card-title">Registro Cobros</h5>
            <a href="/Combos/Create" class="btn btn-primary">
                <span class="bi bi-plus-square mt-3"></span> Crear
            </a>
        </div>

        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>

            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="ComboId">ComboId</option>
                        <option value="Fecha">Fecha</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>


                @*Restablecer*@
                <div class="col-3">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-counterclockwise"
                            @onclick="Restablecer">
                    </button>
                </div>

                @*FiltroFecha*@
                <div class="row mt-3">

                    @*Desde*@
                    <div class="col-3">
                        <label class="col-form-label"><strong>Desde</strong></label>
                        <InputDate class="form-control" @bind-Value="Desde"></InputDate>
                    </div>

                    @*Hasta*@
                    <div class="col-3">
                        <label class="col-form-label"><strong>Hasta</strong></label>
                        <div class="input-group">
                            <InputDate class="form-control" @bind-Value="Hasta"></InputDate>
                        </div>

                    </div>
                </div>

            </div>

            <table class="table table-hover text-center mt-3">
                <thead class="table  table-striped text-black ">
                    <tr>
                        <th><strong>ComboId</strong></th>
                        <th><strong>Fecha</strong></th>
                        <th><strong>Descripci&oacute;n</strong></th>
                        <th><strong>Precio</strong></th>
                        <th><strong>Vendido</strong></th>
                        <th><strong>Opciones</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var combo in ListaRegistro)
                    {
                        <tr>
                            <td> @combo.ComboId</td>
                            <td> @combo.Fecha.ToShortDateString()</td>
                            <td> @combo.Descripcion</td>
                            <td> $@combo.Precio?.ToString("N2")</td>
                            <td> @combo.Vendido</td>


                            <td class="text-center">
                                <a href="/Combos/Details/@combo.ComboId" class="btn btn-outline-primary bi bi-eye"></a>
                                <a href="/Combos/Edit/@combo.ComboId"
                                   class="btn btn-outline-primary bi bi-pencil-square"></a>
                                <a href="/Combos/Delete/@combo.ComboId" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer space-between">
            <label class="ms-3"><strong>Cantidad:</strong> @ListaRegistro.Count</label>
            <div class="col-5">
                <label class="ms-5"><strong>Total:</strong> @($"{ListaRegistro?.Sum(p => p.Precio):C}")</label>
            </div>
        </div>
    </div>
</div>

@code {

    public List<Combos> ListaRegistro { get; set; } = new List<Combos>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    public DateTime? Desde { get; set; }

    public DateTime? Hasta { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ListaRegistro = await comboService.Listar(c => c.ComboId > 0);
        Desde = null;
        Hasta = null;
    }
    private async Task Buscar()
    {
        if (Filtro == "Fecha")
            ListaRegistro = await comboService
            .Listar(f => f.Fecha >= Desde && f.Fecha <= Hasta);


        else if (ValorFiltro.Trim() != "" && Filtro == "ComboId")
        {
            if (int.TryParse(ValorFiltro, out int comboId))
            {
                ListaRegistro = await comboService
                    .Listar(p => p.ComboId == comboId);
            }
        }
        if (!ListaRegistro.Any())
        {
            Toast.Notify(new(ToastType.Danger, "Este combo no existe"));
            ListaRegistro = await comboService.Listar(c => c.ComboId > 0);

        }

    }
    private async Task Restablecer()
    {
        ListaRegistro = await comboService.Listar(e => e.ComboId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        Desde = null;
        Hasta = null;
    }
}
